In [17]:
import pandas as pd
import gspread
from gspread_dataframe import set_with_dataframe
from google.oauth2.service_account import Credentials
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
scopes = ['https://www.googleapis.com/auth/spreadsheets',
          'https://www.googleapis.com/auth/drive']

credentials = Credentials.from_service_account_file('google_auth.json', scopes=scopes)

gc = gspread.authorize(credentials)

gauth = GoogleAuth()
drive = GoogleDrive(gauth)
key ='1KsKPHn5ZEK4bYJYkIQ6SND_Y4Sgqe1qwwuEFH6ec9YY'
# open a google sheet
gs = gc.open_by_key(key)
# select a work sheet from its name
worksheet1 = gs.worksheet('Sheet1')

In [16]:
worksheet_name = 'Sheet1'

existing_worksheet_list = gs.worksheets()
existing_worksheet_titles = [i.title for i in existing_worksheet_list]
if worksheet_name not in existing_worksheet_titles:
    worksheet = gs.add_worksheet(worksheet_name, rows="100", cols="20")
else:
    worksheet = gs.worksheet(worksheet_name)
    
worksheet.clear()
df = pd.DataFrame({'a': ['apple','airplane','alligator'], 'b': ['banana', 'ball', 'butterfly'], 'c': ['cantaloupe', 'crane', 'cat']})

set_with_dataframe(
    worksheet=worksheet,
    dataframe=df,
    include_index=False,
    include_column_header=True,
    resize=False
)

In [13]:
gs.worksheets()

In [12]:
# dataframe (create or import it)
df = pd.DataFrame({'a': ['apple','airplane','alligator'], 'b': ['banana', 'ball', 'butterfly'], 'c': ['cantaloupe', 'crane', 'cat']})
# write to dataframe
worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe=df, include_index=False,
include_column_header=True, resize=True)

{'spreadsheetId': '1KsKPHn5ZEK4bYJYkIQ6SND_Y4Sgqe1qwwuEFH6ec9YY',
 'clearedRange': 'Sheet1!A1:Z1000'}

In [26]:
import polars as pl
employee_df = pl.read_excel('Test.xlsx', sheet_name='employee', schema_overrides={"start_date": pl.Date, 'end_date':pl.Date},)
project_df = pl.read_excel('Test.xlsx', sheet_name='project', schema_overrides={"dt": pl.Date},)
timesheet_df = pl.read_excel('Test.xlsx', sheet_name='timesheet', schema_overrides={"dt": pl.Date},)
payroll_df = pl.read_excel('Test.xlsx', sheet_name='payroll', schema_overrides={"dt": pl.Date},)
project_income_df = pl.read_excel('Test.xlsx', sheet_name='project_income', schema_overrides={"dt": pl.Date},)

employee_df = employee_df\
    .rename({'id':'fk_employee_id_id'})
    
project_df = project_df\
    .rename({'id':'fk_project_id_id'})

In [27]:
employee_df

shape: (5, 9)
┌────────────┬────────────┬────────────┬───────────┬───┬────────┬───────────┬───────────┬──────────┐
│ fk_employe ┆ employee_i ┆ first_name ┆ last_name ┆ … ┆ gender ┆ email_add ┆ start_dat ┆ end_date │
│ e_id_id    ┆ d          ┆ ---        ┆ ---       ┆   ┆ ---    ┆ ress      ┆ e         ┆ ---      │
│ ---        ┆ ---        ┆ str        ┆ str       ┆   ┆ str    ┆ ---       ┆ ---       ┆ str      │
│ i64        ┆ str        ┆            ┆           ┆   ┆        ┆ str       ┆ date      ┆          │
╞════════════╪════════════╪════════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪══════════╡
│ 1          ┆ TEST123    ┆ Ada        ┆ Thomsom   ┆ … ┆ Female ┆ test123@g ┆ 2020-10-0 ┆ null     │
│            ┆            ┆            ┆           ┆   ┆        ┆ mail.com  ┆ 1         ┆          │
│ 2          ┆ TEST456    ┆ Bobby      ┆ Wood      ┆ … ┆ Male   ┆ test456@g ┆ 2021-01-0 ┆ null     │
│            ┆            ┆            ┆           ┆   ┆        ┆ mail.com  ┆ 1         ┆          │
│ 3          ┆ TEST789    ┆ Alissa     ┆ Goodman   ┆ … ┆ Female ┆ test789@g ┆ 2022-05-0 ┆ null     │
│            ┆            ┆            ┆           ┆   ┆        ┆ mail.com  ┆ 1         ┆          │
│ 4          ┆ MY123      ┆ Lance      ┆ Bright    ┆ … ┆ Male   ┆ my123@gma ┆ 2024-01-2 ┆ null     │
│            ┆            ┆            ┆           ┆   ┆        ┆ il.com    ┆ 1         ┆          │
│ 5          ┆ my124      ┆ Zoe        ┆ Dorsy     ┆ … ┆ Female ┆ my124@gma ┆ 2022-04-3 ┆ null     │
│            ┆            ┆            ┆           ┆   ┆        ┆ il.com    ┆ 0         ┆          │
└────────────┴────────────┴────────────┴───────────┴───┴────────┴───────────┴───────────┴──────────┘

In [24]:
timesheet_df

shape: (4, 5)
┌─────┬───────────────────┬──────────────────┬────────────┬──────────┐
│ id  ┆ fk_employee_id_id ┆ fk_project_id_id ┆ date       ┆ duration │
│ --- ┆ ---               ┆ ---              ┆ ---        ┆ ---      │
│ i64 ┆ i64               ┆ i64              ┆ str        ┆ i64      │
╞═════╪═══════════════════╪══════════════════╪════════════╪══════════╡
│ 1   ┆ 1                 ┆ 1                ┆ 2024-01-21 ┆ 1        │
│ 2   ┆ 1                 ┆ 1                ┆ 2023-12-01 ┆ 5        │
│ 3   ┆ 3                 ┆ 4                ┆ 2024-01-01 ┆ 10       │
│ 4   ┆ 5                 ┆ 4                ┆ 2024-01-02 ┆ 29       │
└─────┴───────────────────┴──────────────────┴────────────┴──────────┘

In [25]:
timesheet_df

shape: (4, 5)
┌─────┬───────────────────┬──────────────────┬────────────┬──────────┐
│ id  ┆ fk_employee_id_id ┆ fk_project_id_id ┆ date       ┆ duration │
│ --- ┆ ---               ┆ ---              ┆ ---        ┆ ---      │
│ i64 ┆ i64               ┆ i64              ┆ str        ┆ i64      │
╞═════╪═══════════════════╪══════════════════╪════════════╪══════════╡
│ 1   ┆ 1                 ┆ 1                ┆ 2024-01-21 ┆ 1        │
│ 2   ┆ 1                 ┆ 1                ┆ 2023-12-01 ┆ 5        │
│ 3   ┆ 3                 ┆ 4                ┆ 2024-01-01 ┆ 10       │
│ 4   ┆ 5                 ┆ 4                ┆ 2024-01-02 ┆ 29       │
└─────┴───────────────────┴──────────────────┴────────────┴──────────┘

In [19]:
timesheet_df\
    .group_by('fk_employee_id_id', 'fk_project_id_id', pl.col('date').dt.truncate('month').alias('month'))\
    .agg(
        pl.sum('duration')
    )

InvalidOperationError: `round` operation not supported for dtype `str` (expected: date/datetime)